<div class="container-fluid p-2">
  <div class="navbar d-inline-flex "> 
    <mat-icon (click)="onToggleMenu()">menu</mat-icon>
    <span style="font-size: x-large;margin:0 1rem" >Menu </span>
  </div> 
  <div class="px-4 py-4">
  <table class="table">
    <tbody class="table-striped" >
    <tr *ngFor="let val of menuform " > 
      <!-- (click)="redirectTo(value)" -->
      <td class="d-block p-3 fs-5" (click)="redirectTo(val)">{{val.name}}</td></tr>
    <tr>
    </tbody>
    </table>
  </div>
</div>
